.login{
	
	width: 280px;
	height: 250px;
	background-color: lightblue;
	margin: 200px auto;
	position: relative;
}
.ghost{
	width: 200px;
	padding: 8px;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
	outline: none;
	margin-bottom: 10px;
	font-size: 15px;
	color: black;
	cursor: hand;
}
.center{
	margin: 0 auto;
	width: 200px;
}
.user{
	width: 120px;
	margin: 0 auto;
	margin-top:-30px;
}
.user img{
	width: 100px;
}
.btn{
	width: 120px;
	padding: 8px;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
	font-size: 15px;
	color: black;

}
.xbtn{
	width: 50px;
	margin-left: 250px;
	border-radius: 100px;
}
.login .xbtn img{
	width: 30px;
	border-radius: 100px;
	border: 1px solid black;
}
